SIST_IONM_ENVIRONMENT=production
META_EMBEDDED_SIGNUP_APP_ID=28013144484936275
META_EMBEDDED_SIGNUP_CONFIG_ID=1542064997375425
META_EMBEDDED_SIGNUP_REDIRECT_URI=https://ionmtec.onrender.com/admin/integrations/whatsapp/embedded/callback
META_EMBEDDED_SIGNUP_CLIENT_SECRET=COLOQUE_AQUI_O_CLIENT_SECRET_DA_META
WHATSAPP_SECRET_KEY=COLOQUE_AQUI_UMA_CHAVE_FORTE_E_UNICA
